* {
 font-family: "Karla" !important;
}

pre {
font-family: "Karla";
}
h1 {
  font-weight: bold;
  transition: .2s ease-out;
}

h3 {
	text-align: center;
}
.json
{
  color: #ffffff;
}

.time pre
{
  color: #ffffff;
  font-family: "Karla";
}
