
pre {
font-family: "Roboto";
}

p
{
font-family: "Roboto";
}

h1 {
  font-family: "Roboto";
  font-weight: 300;
  transition: .2s ease-out;
}

h3 {
	text-align: center;
	color: #ffffff;
}
.json
{
  color: #ffffff;;
}

.time pre
{
  color: #ffffff;
  font-family: "Roboto";
}

.splash
{
	padding: 2em;
	background-image: url("img/splash.jpg");
	background-position: center;
	background-size: 100% 600px;
}

.content
{
	background-color: #424242;
	vertical-align: top;
}

body {
	background-color: #424242;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

main {
    flex: 1 0 auto;
 }